body{
    background: whitesmoke;
    
}
img {
    max-width: 100%;
}
#header{
    background: #ff2a26;
    position: sticky;
    top: 0px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
hr{
    color: mintcream;
    border-width: 2px;

}

#header-img{
    width: 300px;
    height: 50px;
    border-style: none;
    padding: 10px 0 10px 50px;
    
    
}
#nav-bar{
    display: flex;
    justify-content: space-between;
}
#link-container{
    align-self: center;
    
}
.nav-link{
    font-size: 1.5rem;
    color: white;
    padding: 0px 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav-item{
    align-self: center;
    align-items: stretch;
}
.ass-sec-title{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: #ff2a26;

}
#product-features{
    background-position: center;
    
}
.product-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    padding: 10px 0px 0px 2px;
}
@media only screen and (maxwidth: 350px){
    .product-img-container{
        background: maroon;
    }
}
.img-container{
   
    border: none;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0px 3px 0px 3px;
    box-shadow: 1.5px 2px 5px grey;
    justify-content: flex-end;
}

.img-center-positioner{
    padding: 0 0 50px;
}
#strecher{
    height: 300px;
} 
    /* #delivery-bed{
    width: 400px;
    height:500px;
    padding: 10px 0px;
}

#strecher{
    width: 400px;
    height: 500px;
    padding: 10px 0px;
}
#wheelchair{
    width: 400px;
    height: 500px;
    padding: 10px 0px;
}
#hsp-delivery-bed{
    width: 400px;
    height: 500px;
    padding: 10px 0px;
} */
.img-caption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff2a26;
    text-align: center;
}
#ass-video-container{
    width: 40%;
    background: rgb(230, 220, 220);
    margin: auto;
    margin-top: 40px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1.5px 1px 5px silver;
    border-radius: 10px;
    
}
#ass-sec-title{
    color: red;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
#vid-container{
    position: static;
}
#video{
    width: 500px;
    height: 300px;
   
}
#video-caption{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: normal;
}
#ass-sec-title-container{
   color: thistle;
   text-align: center;
   border-radius: 10px;
}
#subscribe{
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 1.5px 2px 15px grey;
    padding: 50px 300px 50px 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.ass-content{
    width: 250px;
    background: #ff2a26;
    color: white;
    padding: 0px 25px 30px 30px;
    border-radius: 15px;
    box-shadow: 1.5px 2px 15px #ff2a26;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    text-decoration: none;
        
}
#sub-sec-title{
    text-align: center;
    padding: 20px;
}
footer{
    color: #ff2a26;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    padding: 25px;
}
#email{
    width: 500px;
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 1.5px 2px 15px #ff2a26;
}
#submit{
    width: 100px;
    background: orangered;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
.ass-title{
    text-align: center;
    padding: 5px 15px 5px 15px;
   
}
.ass-plan-price{
    color: whitesmoke;
    padding-bottom: 10px;
    font-weight: bolder;
}
.sub-writeup{
    padding: 1px;
    text-align: left;
    line-height: 2rem;
}
.link-ass{
    text-decoration: none;
    color: limegreen;
    font-weight: bold;
    
}
.ass-btn{
    width: 100px;
    background: yellowgreen;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    padding: 10px 10px 10px 5px;
   
    margin: 10px 0px 0px 125px;
    border: none;
    border-radius: 10px;
      
}
#btn-premium{
    margin-top: 40px;
}
#btn-standard{
    margin-top: 60px;
}
#btn-free{
    margin-top: 30px;
}